@import "styles.css";
@import "navbar.css";

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 5000000px rgba(0, 0, 0, 0.8);
  background-image: url("../images/busqueda.jpg");
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0;
}

footer {
  margin-top: auto;
  width: 100%;
}
main {
  margin-top: 50px;
}

input.form-control.me-3 {
  width: 50%;
}

div.album {
  margin-top: 6rem;
}

div.card {
  background-color: transparent;
  border-color: transparent;
}

div.card-body.d-flex.align-items-center {
  padding: 0;
}

div.dropdown {
  position: relative;
}

a.btn.btn-outline-success {
  margin-left: 10px;
}

a.nav-link.dropdown-toggle {
  color: rgba(255, 255, 255, 0.5);
}

.cover-container {
  max-width: 42em;
}

button#button-addon1.btn.me-2 {
  font-size: 30px;
}

.divider {
  margin-top: 1rem;
}

.suzane {
  width: 25%;
  height: 25%;
}

.cubo {
  margin-bottom: auto;
}
