@import "styles.css";

.link:link {
  color: white;
  text-decoration: none;
}

.link:visited {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: greenyellow;
}

.link:active {
  text-decoration: none;
}

body {
  background-image: url('../images/fondoInfo.jpg');
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.8);
  background-size: 1950px;
  height: 100%;
  min-height: 100%;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer
{
    margin-top : auto;
    width:100%;
}
main
{
    margin-top:50px;
}

input.form-control.me-3{
  width: 50%;
}

div.album{
  margin-top:6rem;
}

div.card{
  background-color:transparent;
  border-color: transparent;
}

div.card-body.d-flex.align-items-center{
  padding: 0;
}

div.dropdown{
  position: relative;
}

a.btn.btn-outline-success{
  margin-left: 10px;
}

a.nav-link.dropdown-toggle{color: rgba(255, 255, 255, .5);}

.cover-container {
  max-width: 42em;
}

button#button-addon1.btn.me-2{
  font-size: 30px;
}

.divider{
  margin-top: 1rem;
}

a.nav-link.dropdown-toggle::after{
    content: none;
}

button#button-addon1.btn.me-2.dropdown-toggle::after{
  content: none;
}

a.dropdown-toggle::after{
  content: none;
}

nav.nav.nav-masthead.justify-content-center.float-md-end{
  margin-top: 15px;
}
/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
