@import "styles.css";
@import "navbar.css";
footer {
    margin-top: auto;
    width: 100%;
  }
  main {
    margin-top: 50px;
  }
  
  input.form-control.me-3 {
    width: 50%;
  }
  
  div.album {
    margin-top: 6rem;
  }
  body{
    background-image: url("../images/fondoPerfil.jpg") ;
    background-size: cover;
    color: white;
  }
  
  div.card {
    background-color: transparent;
    border-color: transparent;
  }
  
  div.card-body.d-flex.align-items-center {
    padding: 0;
  }
  
  div.dropdown {
    position: relative;
  }
  
  a.btn.btn-outline-success {
    margin-left: 10px;
  }
  
  a.nav-link.dropdown-toggle {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .cover-container {
    max-width: 42em;
  }
  
  button#button-addon1.btn.me-2 {
    font-size: 30px;
  }
  
  .divider {
    margin-top: 1rem;
  }