a.nav-link.dropdown-toggle::after {
  content: none;
}

button#button-addon1.btn.me-2.dropdown-toggle::after {
  content: none;
}

a.dropdown-toggle::after {
  content: none;
}

nav.nav.nav-masthead.float-md-start {
  margin-left: 11px;
}
/*
 * Header
 */

.nav-masthead .nav-link {
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(19, 149, 66);
}
.nav-masthead .nav-link + .nav-link {
  color: rgb(19, 149, 66);
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(19, 149, 66);
}

#imgperfil {
  size: 75%;
  margin-top: -2px;
}
